body, main, figure, figcaption, img {
  margin: 0;
  padding: 0;
}

/* 1. After loading the page, you may notice that the images are vertically too near each other, and they're flush with the top and left edges of the window. Adjust the spacing between the figure elements and the distance between the left and right edges of the browser window to 50px to give the images some breathing room. */

figure {
  margin: 50px 50px;

  /* 4. Reduce the width of each figure to 1/2 the width of the browser window: */

  width: 50%;

  /* 5. At this point, the figures are narrow enough that we should be able to squeeze 2 of them in every row on the page. However, since figures are block elements, they always take up an entire row. Instead, you must convert the figure elements to inline-block. Please do so. */
  display: inline-block;
}

/* 2. Reduce your browser window's width, if necessary, until at least one image exceeds the window width. Next, adjust the CSS to make them all fit inside the window. Don't forget that there is a margin around each figure, which should be evident when you display the page.

Once you're done, check what happens as you expand and shrink the browser window; no matter what adjustments you make, all images should fit in the window. */
img {
  /* max-width: 100%; */

  /* 3. Every image should use the entire width of the figure elements. Modify your CSS to implement this requirement. */
  width: 100%;
}
