body {
  margin-left: 25px;
}

ul {
  padding-left: 0;
}

#morning-heading {
  color: black;
}

.morning-routine {
  font-weight: bold;
}

#afternoon-heading {
  color: blue;
}

.afternoon-routine {
  font-style: italic;
}

#evening-heading {
  color: purple;
}

li {
  list-style: none;
}
