* {
  margin: 0;
  padding: 0;
  line-height: .75em;
}

html {
  font-size: 34px;
  font-family: Helvetica, Arial, sans-serif;
}

/* So we can see the border to our article well */
body {
  padding: 10px;
}

article {
  box-sizing: border-box;
  border: 4px solid black;
  padding: 8px 6px;
  width: 684px;

  /* This is here to help position elements */
  display: inline-block;
  position: absolute;
  top: 10px;
}

/* div and img tags for positioning */
div {
  display: inline-block;
  width: 684px;
}

img {
  display: block;
}

h1 {
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
  font-size: 2.6rem;
}

section {
  margin: 0 4px;
  border-bottom: 30px solid black;
}

p {
  padding: 9px 0;
}

strong {
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 13px solid black;
}

td, th {
  border-top: 1px solid gray;
  padding: 12px 0
}

td {
  font-size: .93rem;
}

th {
  font-size: .76rem;
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
}

tbody td, tbody th {
  padding: 15px 0 8.5px 0;
}

/* Text on the right side of the table is aligned right */
td:last-child, th:last-child {
  text-align: right;
}

/* the next three are for making sure indents in table appear correctly */
tr.indent + tr td:first-child {
  border-top-width: 0;
}

tr.indent td:first-child {
  width: 40px;
  border-top-width: 0;
}

tr.indent td:nth-child(n+2) {
  border-bottom: 1px solid black;
}

/* To make sure that we dont add a line at the top of a table */
tr:first-child td, tr:first-child th {
  border-top-width: 0;
}

dl {
  border-top: 1px solid black;
  padding-top: 10px;
  font-size: .75rem;
}

dt {
  display: inline-block;

  /* I don't know how to get the * to be on the top another way */
  position: relative;
  top: -50px;
}

dd {
  display: inline-block;
  width: 97%;
  line-height: 1.25em;
}
