* {
  margin: 0;
  padding: 0;
  line-height: .75em;
}

html {
  font-size: 34px;
  font-family: Helvetica, Arial, sans-serif;
}

/* So we can see the border to our article well */
body {
  padding: 10px;
}

article {
  box-sizing: border-box;
  border: 4px solid black;
  padding: 8px 10px;
  width: 684px;
}

h1 {
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
  font-size: 2.6rem;
}

section {
  border-bottom: 29px solid black;
}

p {
  padding: 9px 0;
}

strong {
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 12px solid black;
}

td, th {
  border-top: 1px solid gray;
  padding: 12px 0;
  text-align: left;
}

td {
  font-size: .93rem;
}

th {
  font-size: .76rem;
  font-family: 'Franklin Gothic Heavy', Arial, sans-serif;
}

/* padding fixes for % daily value table */
tbody td, tbody th {
  padding: 13px 0 9px;
}

/* Text on the right side of the table is aligned right */
td:last-child, th:last-child {
  text-align: right;
}

/* the next three are for making sure indents in table appear correctly */
tr.indent td:first-child {
  width: 40px;
  border-top-width: 0;
}

/* In addition to drawing top, draw bottom on all but first cell on indented row */
.indent td + td {
  border-bottom: 1px solid black;
}

/* Remove border of first cell on row below indented row */
tr.indent + tr td:first-child {
  border-top-width: 0;
}

/* padding fixes for vitamin table */
footer table td {
  padding: 16px 0 8px;
}

/* The next two are to configure the table at the bottom correctly */
footer table:last-of-type td {
  font-size: .75rem;
  padding: 8px 0 3px;

  /* all text is aligned left. This is more specific than previous one making last cell in row right aligned. (0, 1, 3) vs (0, 1, 1) */
  text-align: left;
  /* no borders on bottom table save one line */
  border-width: 0;
}

/* bottom table has one border above second row */
footer table:last-of-type tr:nth-child(2) td {
  border-top-width: 1px;
}

/* next three are to format the reference */
dl {
  border-top: 1px solid black;
  padding-top: 10px;
  font-size: .75rem;
}

dt {
  display: inline-block;

  /* I don't know how to get the * to be on the top another way */
  position: relative;
  top: -65px;
}

dd {
  display: inline-block;
  width: 97%;
  line-height: 1.25em;
}
