body {
  font: normal 16px Helvetica Arial sans-serif;
}

fieldset {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  border: none;
}

dt{
  margin-bottom: 5px;
}

dd {
  margin: 0 0 25px
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font: normal 16px Helvetica Arial sans-serif;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

textarea {
  height: auto;
  resize: vertical;
}

ul {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

/* 2. Put the first and last name fields on the same line. Each of the inputs should take up 50% of the form's width, counting any padding or margins. */
.partial {
  display: inline-block;
  box-sizing: border-box;
}

.name {
  width: 50%;
  padding-right: 5px;
}

.name + .name {
  padding: 0 0 0 5px;
}

/* 3. Put the final three address fields on the same line. The city should consume 50% of the available width, the state 10%, and the zip code 40%. */
.state {
  width: 10%;
  padding: 0 5px;
}

.zip-code {
  width: 40%;
  padding-left: 5px;
}
