/* 2. Start by providing any global settings you think you will need. You can update this later. */
* {
  margin: 0;
  padding: 0;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

/* 4. Organize the entire page as a grid of three columns and five lines, with named grid areas. The first and last column should each take up 1/4 of the page width, while the central column should take up 1/2 the page width. Use fractions, not percentages, to designate these measurements. The header should be on the top line, followed by the navigation bar. The content area consists of two lines. The first has two aside elements and an article, with the article in the larger center column. The next line consists of an article and an aside. Lastly, the footer should appear at the bottom of the grid. */
body {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 2fr 1fr;
}

header, h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  grid-area: 1 / 1 / span 1 / span 3;
}

/* 3. Convert the navigation links into a horizontal navigation bar: */
nav {
  background-color: cyan;
  grid-area: 2 / 1 / span 1 / span 3;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-1 {
  grid-area: 3 / 1;
}

#aside-2 {
  grid-area: 3 / 3 / span 1 / span 1;
}

#aside-3 {
  background-color: pink;
  grid-area: 4 / 1
}

#article-1 {
  grid-area: 3 / 2;
}

#article-2 {
  background-color: skyblue;
  grid-area: 4 / 2 / span 1 / span 2;
}

p {
  margin: 1rem 0;
}

/* 5. Divide the footer area into a sub-grid that will show the logo on the left and the copyright notice on the right. */
footer {
  background-color: yellow;
  grid-area: 5 / 1 / span 1 / span 3;
  display: grid;
  grid-template-areas: "logo copyright";
}

#copyright {
  margin: 0 1rem;
  grid-area: copyright;
}

#logo {
  background-color: orange;
  grid-area: logo;
}
