/* 2. Start by providing any global settings you think you will need. You can update this later. */

* {
  margin: 0;
  padding: 0;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  color: white;
}

/* 3. Give the header a blue background; the h1 heading has a blue background, but not the header. */

header {
  background-color: blue;
  padding: 1rem;
  text-align: center;
}

/* 4. Convert the navigation links into a horizontal navigation bar: */

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  text-align: center;
  width: 20%;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

/* 5. Create three columns of text - an article and two asides - as the main body of the page. The article should consume half the page width, while the asides should each consume one-quarter (that is, the article is twice the width of each aside). Each column should be the same height, no matter how much text it contains. */

main {
  display: flex;
}

article,
aside {
  padding: 0 1rem;
}

article {
  flex: 2;
}

aside {
  background-color: lightgreen;
  flex: 1;
}

p {
  margin: 1rem 0;
}

/* 6. Create a two-column footer with the copyright notice on the left, and the 200px high image on the right. */

footer {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  background-color: orange;
  height: 200px;
}

#logo img {
  display: block;
  height: 200px;
}
