@import url('whitespace-reset.css');

html {
  font: normal 20px 'Avenir', 'Nunito', arial, sans-serif;
}

body {
  background-image: url('images/bg_body.gif');
  color: #2f2840;
}

header {
  padding: 135px 0 45px;
}

header img {
  display: block;
  margin: 0 auto;
}

nav ul {
  justify-content: space-between;
  display: flex;
  list-style: none;
  width: 430px;
  margin: 125px auto 0;
}

nav a {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}

.selected a {
  color: #6db9ff;
}

main {
  background-color: white;
}

article {
  margin: 0 190px;
}

footer {
  background-color: #e7e7e7;
  color: #b6b6b6;
}
