body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

main {
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
}

h1, h2, h3 {
  color: #ce4a4a;
  margin: 20px 0;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: black;
}

.example {
  border: 2px dashed black;
  padding: 30px;
  margin: 45px;
  width: 650px;
}

.marg-in a {
  margin: 30px;
}

.pad-in a, .flo-in a {
  background-color: green;
  border: 1px solid darkgreen;
  color: white;
  padding: 30px;
}

.flo-in a {
  float: left;
  margin: 0 15px;
}

.container::before {
  display: block;
  content: "";
}

.container::after {
  clear: both;
  display: block;
  content: "";
}

div {
  color: white;
  box-sizing: border-box;
}

.block-1 {
  background-color: dodgerblue;
}

.block-2,
.block-4 {
  padding: 20px;
  margin: 20px;
}

.block-2 {
  background-color: green;
  height: 60px;
}

.block-3 {
  width: 90px;
  background-color: tomato;
}

.block-4 {
  background-color: pink;
  width: 180px;
  height: 120px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.box {
  border: 1px solid red;
}

.box.float-l {
  background-color: blue;
}

.box.float-r {
  background-color: tomato;
}

.f-box {
  text-align: center;
  height:70px;
  line-height: 70px;
}

.f-box.float-l {
  background-color: tomato;
  width: 40%;
}

.f-box.float-r {
  background-color: dodgerblue;
  width: 50%;
}

.a-box a {
  color: white;
  background-color: dodgerblue;
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
